@font-face {
  font-family: 'Montserrat Regular';
  src: url('fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --left-column-width: 300px;
  --header-height: 100px;
  --content-background-color: #e6e6e6;
  --nav-item-background-color: rgb(219, 214, 250);
  --brand_color: rgb(154, 140, 247);
  --border-radius-outer: 20px;
  --border-radius-inner: 15px;
  --border-radius-button: 10px;
  --danger-color: salmon;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Regular';
  color: #333333;
  outline: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-button {
  background: #888;
}

::-webkit-scrollbar-track-piece {
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: salmon;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--brand_color);
}

header {
  height: var(--header-height);
  display: flex;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0.9), rgba(196, 196, 196, 0) 50%);
}

/* Universal styles for forms (start) */
.form {
	padding: 0px 0px;
}
.input_text {
	box-sizing: border-box;
	border-radius: var(--border-radius-button);
	border: 2px solid #999999;
	padding: 12px;
	color: #666666;
	font-size: 14px;
  width: 500px;
}

.button_submit {
	box-sizing: border-box;
	border-radius: var(--border-radius-button);
	border: 1px solid var(--brand_color);
	padding: 14px 30px;
	background-color: var(--brand_color);
	color: #ffffff;
	cursor: pointer;
	font-size: 14px;
  white-space: nowrap;
}

.crop-base-name {
  box-sizing: border-box;
	border-radius: var(--border-radius-button);
	border: 1px solid var(--brand_color);
	padding: 14px 30px;
  width: 110px;
	font-size: 14px;
  white-space: nowrap;
}

.button_cancel {
  box-sizing: border-box;
	border-radius: var(--border-radius-button);
  border: 1px solid var(--brand_color);
	padding: 14px 30px;
	background-color: white;
	color: var(--brand_color);
	cursor: pointer;
	font-size: 14px;
  white-space: nowrap;
}

.wrong_input {
  border-color: var(--danger-color);
}
/* Universal styles for forms (end) */

.logo {
  width: var(--left-column-width);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 30px;
}

.title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 20px;
  padding-left: 40px;
  color: var(--brand_color);
}

main {
  display: flex;
  height: calc(100vh - var(--header-height));
}

.navigation {
  width: var(--left-column-width);
  flex-grow: 0;
  flex-shrink: 0;
  padding: 40px 20px 0 20px;
}

.nav-item {
  display: flex;
  margin: 5px;
  padding: 10px 40px;
  border-radius: var(--border-radius-button);
}

.nav-item-active {
  background-color: var(--nav-item-background-color);
  cursor: default;
  pointer-events: none;
}

.content-wrapper {
  background-color: var(--content-background-color);
  margin: 20px 50px 50px 20px;
  border-radius: var(--border-radius-outer);
  padding: 20px 12px;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  display: flex;
}

.content {
  padding: 0 8px;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: var(--border-radius-inner);
  overflow-y: scroll;
}

.collections {
  border-radius: var(--border-radius-inner);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.collection {
  background-color: #ffffff;
  padding: 30px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
}

.collection:hover {
  color: salmon;
}

.add-collection img {
  width: 32px;
  height: 32px;
}

.tasks-control {
  background-color: #ffffff;
  border-radius: var(--border-radius-inner);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.tasks-filter {
  display: flex;
  align-items: center;
  position: relative;
}

/* Custom checkbox (start) */
.tasks-filter-is-done {
  --width: 40px;
  --height: 20px;
  --first-color: rgb(160, 160, 160);
  --second-color: rgb(201, 201, 201);
  --third-color: var(--brand_color);
  --offset: 2px;
  --duration: 0.5s;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.tasks-filter-is-done:hover {
  filter: brightness(1.1);
}

.tasks-filter-is-done-title {
  margin-left: 10px;
  font-size: 14px;
}

.tasks-filter-is-done-switcher {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--width);
  background-color: var(--second-color);
  transition: var(--duration);
}

.tasks-filter-is-done-input {
  display: none;
}

.tasks-filter-is-done-input:checked ~ .tasks-filter-is-done-switcher {
  background-color: var(--third-color);
}

.tasks-filter-is-done-input:checked ~ .tasks-filter-is-done-switcher::before {
  background-color: #ffffff;
  left: calc(var(--width) - var(--height) + var(--offset));
}

.tasks-filter-is-done-switcher::before {
  content: '';
  position: absolute;
  top: var(--offset);
  left: var(--offset);
  width: calc(var(--height) - 2 * var(--offset));
  height: calc(var(--height) - 2 * var(--offset));
  background-color: var(--first-color);
  border-radius: 50%;
  transition: var(--duration);
}
/* Custom checkbox (end) */

.new-task-form-container {
  display: flex;
  align-items: center;
}

.new-task-form {
  display: flex;
  align-items: center;
}

.new-task-text {
  height: 50px;
}

.new-task-submit {
  height: 50px;
  margin-left: 5px;
  position: relative;
}

.task-list {
  margin-top: 20px;
}

.task-list-empty {
  padding: 20px;
  text-align: center;
}

.task-item {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
}

.task-item + .task-item {
  margin-top: 5px;
}

.task-item-date {
  width: 100px;
  font-size: 12px;
  color: #666666;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.task-item-text {
  display: flex;
  flex-grow: 1;
  font-size: 18px;
}

.closed-task {
  color: #cccccc;
  text-decoration: line-through;
}

.task-item-close-open {
  width: 120px;
  font-size: 12px;
  color: #666666;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.task-item-delete {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.task-item-delete-link {
  font-size: 12px;
  color: #666666;
}

/* Photo editor styles (start) */
.photo-editor {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-inner);
}

.photo-editor-sources {
  background-color: white;
  width: 100%;
  border-radius: var(--border-radius-inner);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.photo-editor-panel {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  gap: 10px;
  margin-top: 20px;
  min-height: calc(100% - 210px);
}

.photo-editor-editing-area, .photo-editor-result {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.photo-editor-editing-area-image-container {
  background-color: white;
  border-radius: var(--border-radius-inner);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999999;
  padding: 20px;
}

.photo-editor-result-container {
  background-color: white;
  border-radius: var(--border-radius-inner);
  height: 100%;
  color: #999999;
  padding: 20px;
}

.photo-editor-result-items-wrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.photo-editor-result-empty {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-editor-editing-area-image-border {
  position: relative;
}

.photo-editor-editing-image {
  display: block;
}

.photo-editor-editing-area-buttons {
  display: flex;
  justify-content: left;
  gap: 10px;
  margin-top: 10px;
  position: relative;
}

.photo-editor-upload-sources-label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100px;
  height: 150px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

#photo-editor-upload-sources-input {
  display: none;
}

.photo-editor-source-item {
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
}

.photo-editor-result-item {
  position: relative;
  cursor: grab;
  border-radius: 5px;
  overflow: hidden;
}

.dragging {
  display: none;
}

.photo-editor-source-item-selected {
  outline: 2px solid var(--brand_color);
  cursor: default;
}

.photo-editor-source-item-image {
  display: block;
  width: auto;
  height: 150px;
}

.photo-editor-result-item-image {
  display: block;
  width: auto;
  height: 150px;
  pointer-events: none;
}

.photo-editor-source-item-delete, .photo-editor-result-item-delete {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  width: 15px;
  height: 15px;
  background: left center no-repeat url('./images/bin_icon_sprite_100x50.png');
  background-size: cover;
}

.photo-editor-source-item-delete:hover, .photo-editor-result-item-delete:hover {
  background-position: right;
}

.photo-editor-crop-frame {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid blueviolet; /* todo Заменить на константу */
  cursor: grab;
}

.photo-editor-crop-frame:active {
  cursor: grabbing;
}

.photo-editor-crop-frame-not-valid {
  border-color: var(--danger-color);
}

.photo-editor-crop-frame-top-border {
  width: 100%;
  height: 20px;
  position: absolute;
  top: -10px;
  left: 0;
  cursor: ns-resize;
}

.photo-editor-crop-frame-bottom-border {
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: -10px;
  left: 0;
  cursor: ns-resize;
}

.clear-editing-area-disabled {
  cursor: default;
  border-color: #666666;
  color: #666666;
}

.save-new-crop-disabled, .save-all-crops-disabled {
  cursor: default;
  background-color: #666666;
  border-color: #666666;
}

.pseudo-button-size {
	border-radius: var(--border-radius-button);
  border: 1px solid var(--brand_color);
	padding: 14px 30px;
	background-color: white;
	color: var(--brand_color);
	cursor: pointer;
	font-size: 14px;
  white-space: nowrap;
  flex-grow: 1;
  position: relative;
  max-width: 200px;
}

.pseudo-button-size svg {
  position: absolute;
  right: 25px;
  top: calc(50% - 3px);
}

.rotate-triangle-from-closed-to-opened .button-size-triangle {
  animation: rotateTriangleFromClosedToOpened 0.3s linear forwards;
  transform-origin: 50% 70%;
}
/* todo Заменить на transition: opacity 0.5s ease; */
@keyframes rotateTriangleFromClosedToOpened {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.rotate-triangle-from-opened-to-closed .button-size-triangle {
  animation: rotateTriangleFromOpenedToClosed 0.3s linear forwards;
  transform-origin: 50% 70%;
}
/* todo Заменить на transition: opacity 0.5s ease; */
@keyframes rotateTriangleFromOpenedToClosed {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.crop-sizes-list {
  position: absolute;
  bottom: calc(100% + 10px);
  left: 0;
  background-color: salmon;
  border-radius: var(--border-radius-inner);
  padding: 30px;
  transition: opacity 0.5s ease;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.crop-sizes-list-visible {
  opacity: 1;
}

.crop-sizes-list-hidden {
  opacity: 0;
}

.crop-sizes-item-label {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
}

.crop-sizes-item-label-dimensions {
  font-size: 12px;
  color: #ffffff;
}

.crop-sizes-item-radio {
  cursor: pointer;
}
/* Photo editor styles (end) */

/* Loader (start) */
/* todo Заменить на константы */
.loader {
  width: 50px;
  height: 50px;
  border: 5px solid;
  border-color: var(--brand_color) transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Loader (end) */