@font-face {
  font-family: 'Montserrat Regular';
  src: url('fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --left-column-width: 300px;
  --header-height: 100px;
  --content-background-color: #e6e6e6;
  --nav-item-background-color: rgb(219, 214, 250);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Regular';
  color: #333333;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-button {
  background: #888;
}

::-webkit-scrollbar-track-piece {
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: salmon;
}

a {
  text-decoration: none;
}

header {
  height: var(--header-height);
  display: flex;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0.9), rgba(196, 196, 196, 0) 50%);
}

.logo {
  width: var(--left-column-width);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 30px;
}

.title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 20px;
  padding-left: 40px;
}

main {
  display: flex;
  height: calc(100vh - var(--header-height));
}

.navigation {
  width: var(--left-column-width);
  flex-grow: 0;
  flex-shrink: 0;
  padding: 40px 20px 0 20px;
}

.nav-item {
  display: flex;
  margin: 5px;
  padding: 10px 40px;
  border-radius: 10px;
}

.nav-item-active {
  background-color: var(--nav-item-background-color);
  cursor: default;
}

.content-wrapper {
  background-color: var(--content-background-color);
  margin: 20px 50px 50px 20px;
  border-radius: 30px;
  padding: 20px 12px;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  display: flex;
}

.content {
  padding: 0 8px;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 25px;
  overflow-y: scroll;
}

.collections {
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.collection {
  background-color: #ffffff;
  padding: 30px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
}

.collection:hover {
  color: salmon;
}

.add-collection img {
  width: 32px;
  height: 32px;
}
